@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-white: #ffffff;
    --clr-base: #27292d;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /* color: light-dark(var(--clr-white), var(--clr-base)); */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 16px;

    --color-primary: #51b1e7;
    --color-secondary: #ffffff;

    /* background-color: light-dark(var(--clr-white), var(--clr-base)); */
}
* {
    box-sizing: border-box;
}
main,
nav,
.transition {
    @apply transition-colors duration-200 ease-in-out;
    will-change: color;
}

li:hover {
    @apply transition-colors duration-100 ease-in-out;
    will-change: color;
}

main,
nav {
    /* height: 100vh; */
    min-height: 100vh;
}

/* div.main-grid-layout {
    display: grid;
    grid-template-columns: 200px repeat(auto-fit, minmax(0, 1fr));
    grid-template-rows: 100%;
} */

main {
    margin-left: 200px;
}

nav {
    padding-top: 1rem;

    position: fixed;
    top: 0;
    height: 100%;
    width: 200px;
    ul {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        li {
            width: 100%;
            button {
                text-align: left;
                width: 100%;
            }
        }
        li {
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }
}

body {
    margin: 0;
}
